<div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right">
  <div class="px-5 pt-4 flex justify-end">
    <button (click)="close()" type="button" class="bg-white rounded-md p-2 flex justify-end text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-green-500">
      <span class="sr-only">Close main menu</span>
      <!-- Heroicon name: outline/x -->
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>

<main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
  <div class="sm:text-center lg:text-left">
    <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
      <span class="block text-green-500 xl:inline" id="colored-headline">Impressum</span>
    </h1>
    <p class="mt-3 text-base text-gray-500">
      Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.
    </p>
    <p class="mt-3 text-base text-gray-500">
      Musterfirma <br>
      Max Mustermann <br>
      Musterstrasse 1 <br>
      1234 Musterhausen <br>
      Österreich <br>
      <br>
      Unternehmensgegenstand: IT Dienstleistungen <br>
      <br>
      Tel.: 01234/56789 <br>
      Fax: 01234/56789-0 <br>
      E-Mail: office@musterfirma.com <br>
      <br>
      Berufsrecht: Gewerbeordnung: www.ris.bka.gv.at<br>
      <br>
      Aufsichtsbehörde/Gewerbebehörde: Bezirkshauptmannschaft Musterhausen <br>
      Berufsbezeichnung: Softwareentwickler <br>
      Verleihungsstaat: Österreich <br>
      <br>
      Kontaktdaten des Verantwortlichen für Datenschutz <br>
      Sollten Sie Fragen zum Datenschutz haben, finden Sie nachfolgend die Kontaktdaten der verantwortlichen Person bzw. Stelle: <br>
      Musterfirma GmbH <br>
      Musterstraße 47, 12312 Musterstadt, Musterland <br>
      Vertretungsberechtigt: Markus Mustermann <br>
      E-Mail-Adresse: office@musterfirma.com <br>
      Telefon: 01234/56789 <br>
      Impressum: https://www.testfirma.at/impressum/ <br>
      <br>
      Quelle: Erstellt mit dem Impressum Generator von AdSimple
    </p>
  </div>
</main>